html {
  box-sizing: border-box;
  font-size: 16px;
  overflow: hidden;
  position: fixed;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  background-color: #1b1512;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  max-width: 100%;
  max-height: 100vh;
  position: fixed;
  background-image: url(../img/home-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  /* background-image: url(../img/ref-home.jpg);
  background-image: url(../img/ref-products.jpg);
  background-image: url(../img/ref-boards.jpg); */
  /* background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed; */
}

img {
  width: 100%;
  overflow: hidden;
}

p {
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
}

.pos-r {
  position: relative;
}

.pos-a {
  position: absolute;
  top: 0;
  left: 0;
}

.container {
  position: relative;
  /* width: 768px;
  height: 900px; */
  width: 100%;
  height: 100vh;
  max-width: 100%;
  max-height: 100vh;
  overflow: hidden;
}

.container-home {
  background-image: url(../img/home-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.emporio-logo-wrapper {
  position: absolute;
  width: 195px;
  top: 5vh;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.apresenta {
  position: absolute;
  top: 17vh;
  left: 50%;
  width: 80px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.flag-container {
  position: absolute;
  width: 100%;
  top: 16%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  overflow: hidden;
}

.txt-mask {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.secondary-logo-container {
  position: absolute;
  width: 415px;
  top: 38%;
  left: 12%;
}

.home-seara-logo {
  position: absolute;
  top: 39.4%;
  right: 12%;
  width: 113px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.home-txt-container {
  position: absolute;
  width: 424px;
  left: 50%;
  top: 51.6%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.home-link {
  position: absolute;
  bottom: 30.5%;
  z-index: 20000;
}

.produtos-link {
  left: 7.8%;
  z-index: 20000;
}

.produtos-link-wrapper {
  width: 294px;
  height: 40px;
  background-color: #ed1c24;
  border-radius: 25px;
}

.tabuas-link {
  right: 7.8%;
}

.tabuas-link-wrapper {
  width: 294px;
  height: 40px;
  background-color: #ed1c24;
  border-radius: 25px;
}

.home-products-container {
  position: absolute;
  bottom: 2%;
  left: 50%;
  width: 700px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

/* PRODUCTS STYLES */
.container-products {
  /* background-image: url(../img/F17_-tela-carpadio-digital-totem-produtos-1.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat; */
  position: absolute;
  left: 0;
  top: 0;
}

.top-garlic-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 140px;
}

.bottom-garlic-wrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 190px;
}

.seara-logo-small {
  position: absolute;
  top: 2.7%;
  right: 4%;
  width: 74px;
}

.products-page-title {
  position: absolute;
  top: 12.7%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 670px;
}

.back-link {
  position: absolute;
  bottom: 2.7%;
  left: 4.9%;
  z-index: 2000;
  width: 224px;
}

.product-container {
  width: 70%;
  margin: 0 auto 3vh auto;
}

.back-link-wrapper {
  font-size: 0px;
  width: 224px;
  background-color: rgba(255, 255, 255, .4);
  border-radius: 25px;
}

.slick-products {
  position: absolute;
  width: 100%;
  height: 60vh;
  top: 53%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.slick-slide {
  outline: none;
}

.slick-prev,
.slick-next {
  /* color: transparent; */
  position: absolute;
  top: 51%;
  width: 40px;
}

.slick-prev {
  left: 3%;
  z-index: 1;
}

.slick-next {
  right: 3%;
}

.slick-dots {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  margin: 0;
  width: 150px;
  position: absolute;
  bottom: -22%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  list-style-type: none;
  outline: none;
}

.slick-dots button {
  display: block;
  width: 12px;
  height: 12px;
  padding: 0;
  border: none;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, .2);
  font-size: 0px;
  outline: none;
}

.slick-dots .slick-active button {
  background-color: #fff;
}

/* BOARD STYLES */
.container-boards {
  position: absolute;
  top: 0;
  left: 0;
}

.slick-boards {
  position: absolute;
  width: 100%;
  height: 60vh;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.slick-boards .slick-prev,
.slick-boards .slick-next {
  /* color: transparent; */
  top: 56%;
}

.slick-boards .slick-dots {
  bottom: -28.2%;
}

/* .slick-prev {
  left: 3%;
  z-index: 1;
}

.slick-next {
  right: 3%;
}

.slick-dots {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  margin: 0;
  width: 150px;
  position: absolute;
  bottom: -41%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  list-style-type: none;
  outline: none;
} */

/* HOME ANIMATIONS */
.container-boards,
.container-products {
  visibility: hidden;
}

.emporio-anim {
  opacity: 0;
  -webkit-transform: scale(.8);
  transform: scale(.8);
}

.apresenta-anim {
  opacity: 0;
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
}

.flag-anim {
  opacity: 0;
  transform: scale(.8);
}

.txt-mask {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

.flag-txt-anim {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

.sec-logo-anim {
  opacity: 0;
}

.logo-anim {
  opacity: 0;
  -webkit-transform: scale(.8);
  transform: scale(.8);
}

.logo-txt-anim {
  opacity: 0;
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
}

.home-txt-anim {
  opacity: 0;
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
}

.produtos-link-wrapper,
.tabuas-link-wrapper {
  opacity: 0;
}

.link-txt-anim {
  opacity: 0;
  -webkit-transform: translateY(8px);
  transform: translateY(8px);
}

.products-anim {
  opacity: 0;
  transform: scale(.8);
}

/* PRODUCTS ANIMATIONS */
.top-garlic {
  opacity: 0;
  -webkit-transform: scale(.8);
  transform: scale(.8);
  transform-origin: top left;
  opacity: 0;
}

.small-logo-anim {
  opacity: 0;
  -webkit-transform: scale(.8);
  transform: scale(.8);
  opacity: 0;
}

.small-logo-txt-anim {
  opacity: 0;
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
}

.products-title {
  opacity: 0;
}

.bottom-garlic {
  opacity: 0;
  -webkit-transform: scale(.8);
  transform: scale(.8);
  transform-origin: bottom right;
}

.back-link-wrapper {
  opacity: 0;
}

.back-txt-anim {
  opacity: 0;
  -webkit-transform: translateY(8px);
  transform: translateY(8px);
}

.slick-products {
  visibility: hidden;
  opacity: 0;
}

.slick-boards {
  visibility: hidden;
  opacity: 0;
}