html {
  box-sizing: border-box;
  font-size: 16px;
  overflow: hidden;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  background-color: #1b1512;
  background-image: url(../img/home-bg.jpg);
  background-size: cover;
  overflow: hidden;
  /* width: 768px;
  height: 900px; */
  width: 100%;
  height: 100vh;
  max-width: 100%;
  max-height: 100vh;
  position: relative;
}

img {
  width: 100%;
  overflow: hidden;
}

.pos-r {
  position: relative;
}

.pos-a {
  position: absolute;
  top: 0;
  left: 0;
}

.container {
  position: relative;
  /* width: 768px;
  height: 900px; */
  width: 100%;
  height: 100vh;
  max-width: 100%;
  max-height: 100vh;
  /* background-image: url(assets/F17_primeira-tela-ipad-totem.png); */
  /* background-image: url(assets/home-bg.jpg); */
  /* background-size: contain;
  background-position: center; */
  /* overflow: hidden; */
}

.apresenta {
  position: absolute;
  top: 10%;
  left: 50%;
  width: 80px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  transform: translateX(-50%);
}

.flag-container {
  position: absolute;
  width: 100%;
  top: 10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  overflow: hidden;
}

.txt-mask {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.secondary-logo-container {
  position: absolute;
  width: 415px;
  top: 35%;
  left: 12%;
}

.home-seara-logo {
  position: absolute;
  top: 36%;
  right: 14%;
  width: 113px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.home-txt-container {
  position: absolute;
  width: 424px;
  left: 50%;
  top: 48.6%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.home-link {
  position: absolute;
  bottom: 33.4%;
  z-index: 20000;
}

.produtos-link {
  left: 9.8%;
  z-index: 20000;
}

.produtos-link-wrapper {
  width: 294px;
  height: 40px;
  background-color: #ed1c24;
  border-radius: 25px;
}

.tabuas-link {
  right: 9.8%;
}

.tabuas-link-wrapper {
  width: 294px;
  height: 40px;
  background-color: #ed1c24;
  border-radius: 25px;
}

.home-products-container {
  position: absolute;
  bottom: 4%;
  left: 50%;
  width: 600px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

/* PRODUCTS STYLES */
/* .container-products {
  background-image: url(../img/F17_-tela-carpadio-digital-totem-produtos-1.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
} */

.top-garlic-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 130px;
}

.bottom-garlic-wrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 180px;
}

.seara-logo-small {
  position: absolute;
  top: 2.7%;
  right: 6%;
  width: 74px;
}

.products-page-title {
  position: absolute;
  top: 13%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 670px;
}

.back-link {
  position: absolute;
  bottom: 2.7%;
  left: 6.4%;
  z-index: 2000;
}

.product-container {
  width: 70%;
  margin: 0 auto 3vh auto;
}

.back-link-wrapper {
  font-size: 0px;
  width: 224px;
  background-color: rgba(255, 255, 255, .4);
  border-radius: 25px;
}

.slick-container {
  position: absolute;
  width: 100%;
  height: 60vh;
  top: 58%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.slick-slide {
  outline: none;
}

.slick-prev,
.slick-next {
  /* color: transparent; */
  position: absolute;
  top: 43%;
  width: 40px;
}

.slick-prev {
  left: 5%;
  z-index: 1;
}

.slick-next {
  right: 5%;
}

.slick-dots {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  justify-content: space-around;
  margin: 0;
  width: 150px;
  position: absolute;
  bottom: -15%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  list-style-type: none;
  outline: none;
}

.slick-dots button {
  display: block;
  width: 12px;
  height: 12px;
  padding: 0;
  border: none;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, .2);
  font-size: 0px;
  outline: none;
}

.slick-dots .slick-active button {
    background-color: #FFF;
}

/* HOME ANIMATIONS */
.apresenta-anim {
  opacity: 0;
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
}

.flag-anim {
  opacity: 0;
  transform: scale(.8);
}

.txt-mask {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

.flag-txt-anim {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

.sec-logo-anim {
  opacity: 0;
}

.logo-anim {
  opacity: 0;
  -webkit-transform: scale(.8);
  transform: scale(.8);
}

.logo-txt-anim {
  opacity: 0;
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
}

.home-txt-anim {
  opacity: 0;
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
}


.produtos-link-wrapper,
.tabuas-link-wrapper {
  opacity: 0;
}

.link-txt-anim {
  opacity: 0;
  -webkit-transform: translateY(8px);
  transform: translateY(8px);
}

.products-anim {
  opacity: 0;
  transform: scale(.8);
}

/* PRODUCTS ANIMATIONS */
.top-garlic {
  opacity: 0;
  -webkit-transform: scale(.8);
  transform: scale(.8);
  transform-origin: top left;
}

.small-logo-anim {
  opacity: 0;
  -webkit-transform: scale(.8);
  transform: scale(.8);
}

.small-logo-txt-anim {
  opacity: 0;
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
}

.products-title {
  opacity: 0;
}

.bottom-garlic {
  opacity: 0;
  -webkit-transform: scale(.8);
  transform: scale(.8);
  transform-origin: bottom right;
}

.back-link-wrapper {
  opacity: 0;
}

.back-txt-anim {
  opacity: 0;
  -webkit-transform: translateY(8px);
  transform: translateY(8px);
}

.slick-container {
  opacity: 0;
}

/* .product-container {
  opacity: 0;
} */